.git
.github
.vscode

**/bin
**/obj
**/TestResults

client/node_modules
client/dist
client/playwright-report
client/test-results
client/.env*

server/HabitTracker.Tests
server/HabitTracker.IntegrationTests

docs

*.user
*.suo